<div class="hero-unit">
    <h1>Olá, esse é um exemplo!
    </h1>
    <p>
        Esse exemplo visa demonstrar as tecnologias definidas para novos projetos Itaú soluções
    </p>
    <p>
        Esse exemplo contém: <span>Bootstrap,</span> <span>AngularJS,</span> <span>Toastr,</span> <span>jQuery,</span> <span>.Net Framework 4.5, MVC 4, WebApi</span>
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="#">"Vamos simbora" »</a>
    </p>
</div>
